<!DOCTYPE html>
<html>
  <body>
    <p>Hi, {{ record.first_name }}</p>
    <p>This is a new RENAG rental agreement:</p>
    number: <b>{{ record.number }}</b><br>
    Expiration: <b>{{ record.booking_date.strftime('%d-%b-%Y') }}</b><br>

    <p>-------------------------<br>
    <b> Renag </b><br>
    {{ record.company and record.company.party.name }}<br>
    </p>
  </body>
</html>
